<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template</title>
    <style>
        .onemaplistContainer {
            background-color: #f1e6b6;
            width: 320px;
        }

        .onemaplistContainer > div {
            border: 2px solid yellow;
        }
    </style>
</head>
<body>
<div class="onemaplistContainer">
    <div>
        <p>突发事件1</p>
        <p>事故类型：煤矿瓦斯爆炸</p>
        <p>事发时间：2016-07-12 09:33</p>
    </div>
    <div>
        <p>突发事件1</p>
        <p>事故类型：煤矿瓦斯爆炸</p>
        <p>事发时间：2016-07-12 09:33</p>
    </div>
    <div>
        <p>突发事件1</p>
        <p>事故类型：煤矿瓦斯爆炸</p>
        <p>事发时间：2016-07-12 09:33</p>
    </div>
</div>
</body>
</html>
